@import "tailwindcss";

@theme {
  --animate-shine: shine 3s infinite;
  --animate-shimmer: shimmer 2s infinite;

  @keyframes shine {
    0% {
      left: -100%;
    }
    20% {
      left: 100%;
    }
    100% {
      left: 100%;
    }
  }

  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}
